<h2>{{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="save()">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Player</h3>
        </div>
        <fieldset>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>Name</label>
                                <input [(ngModel)]="player.name" name="name" #name formControlName="name" type="text" class="form-control">
                                <div *ngIf="name.touched && !name.valid" class="alert alert-danger">
                                    Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>Email</label>
                                <input [(ngModel)]="player.email" #email formControlName="email" type="text" class="form-control">
                                <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
                                    Please type a valid email.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>Phone</label>
                                <input [(ngModel)]="player.phone" formControlName="phone" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </fieldset>
        <fieldset formGroupName="address">
            <legend>Address</legend>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>Street</label>
                                <input [(ngModel)]="player.address.street" formControlName="street" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>Suite</label>
                                <input [(ngModel)]="player.address.suite" formControlName="suite" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>City</label>
                                <input [(ngModel)]="player.address.city" formControlName="city" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="box-body pad">
                                <label>ZipCode</label>
                                <input [(ngModel)]="player.address.zipcode" formControlName="zipcode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="box-footer">
            <a routerLink="/players" class="btn btn-default">Cancel</a>
            <button id="savePlayerBtn" [disabled]="!form.valid" type="submit" class="btn btn-info pull-right">Save</button>
        </div>
    </div>
</form>
